/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/06/2016, 15:16:03
    Author     : luizcarlos.fonseca
*/
/*body {
    background-color: #fff;
    background-image: url("../img/canal.jpg");
}

.container {
    background-color: #fff;
    background-image: url("../img/canal.jpg");
}
*/
.leftbar {
    margin-top: 40px;
}

.divisoria {
    border-left: 1px solid #BEBEBE;
}

.container-top {
    margin-top: 10px;
}

footer {
    margin: 15px 0 0;
    color: #F5F5F5;
    background-color: #003257;
}

.rodape {
    margin: 0 40px 0 10px;
}


.imputpequeno {
    width: 150px;
}

.table-responsive {
    margin-top: 10px;
}

.tablenoborder th,
.tablenoborder td {
    border: 0px !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    line-height: 1 !important;
}

.login-form {
    width: 25rem;
    height: 18.75rem;
    position: fixed;
    top: 50%;
    margin-top: -9.375rem;
    left: 50%;
    margin-left: -12.5rem;
    background-color: #fff;
}

.nav li a {
    text-align: left;
}

.nav li a:hover {
    color: #000000;
}

/*.nav li {
    border: 1 px solid #ccc;
}

.nav-pills li a {
    background-color: #F5F5F5;
}

li a:hover {
    font-size: 18px;
}*/

/*.btn .botao {
    text-align: left;
}*/

.navbar-brand {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bolder;
    font-size: 24px;
}

/*.navbar-inverse .navbar-brand {
    color: #fff;
}*/

.titulo {
    padding-top: 150px;
    padding-bottom: 60px;
    text-align: center;
    color: #BEBEBE;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
    font-weight: bold;
    font-size: 60px;
}

/*.page-header {
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
}
*/
/*.panel-body {
    height: auto;
    font-family: Georgia, serif;
}*/

span.icon { 
  font-family: 'Glyphicons Halflings'; 
}

.fa-select {
    font-family: sans-serif, 'FontAwesome';
}

.col-md-3 {
    padding-bottom: 20px;
}

#partners {
    vertical-align: middle;
}

.carousel-inner .active.left { left: -16.7%; }
.carousel-inner .next        { left:  16.7%; }
.carousel-inner .prev        { left: -16.7%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}

.addr {
    display: block;
    padding-left: 0;
    list-style: none;
}

.addr > li {
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
}

.addr > li:first-child {
    margin-top: 0;
}

.addr > li > i {
    left: 0;
    position: absolute;
    top: 3px;
}

footer > .container-fluid {
    background-color: #0281C6;
/*    min-height: 50px;*/
    padding: 15px;
    text-align: center;
}

/* leftbar2 */

.icone {
    margin-right: 10px;
}
