/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/06/2016, 15:16:03
    Author     : luizcarlos.fonseca
*/
/*body {
    background-color: #fff;
    background-image: url("../img/canal.jpg");
}

.container {
    background-color: #fff;
    background-image: url("../img/canal.jpg");
}
*/

footer {
    margin: 15px 0 0;
    color: #F5F5F5;
    background-color: #003257;
}


.imputpequeno {
    width: 150px;
}

.table-responsive {
    margin-top: 10px;
}

.tablenoborder th,
.tablenoborder td {
    border: 0px !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    line-height: 1 !important;
}

.login-form {
    width: 25rem;
    height: 18.75rem;
    position: fixed;
    top: 50%;
    margin-top: -9.375rem;
    left: 50%;
    margin-left: -12.5rem;
    background-color: #fff;
}
.nav li {
    border: 1 px solid #ccc;
}

.nav-pills li a {
    background-color: #F5F5F5;
}

li a:hover {
    font-size: 18px;
}

.navbar-brand {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bolder;
    font-size: 24px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.titulo {
    padding-top: 150px;
    padding-bottom: 60px;
    text-align: center;
    color: #BEBEBE;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
    font-weight: bold;
    font-size: 60px;
}

/*.page-header {
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
}
*/
.panel-body {
    height: 150px;
/*    font-family: Georgia, serif;*/
}

span.icon { 
  font-family: 'Glyphicons Halflings'; 
}

.fa-select {
    font-family: sans-serif, 'FontAwesome';
}

.col-md-3 {
    padding-bottom: 20px;
}

#partners {
    vertical-align: middle;
}

.carousel-inner .active.left { left: -16.7%; }
.carousel-inner .next        { left:  16.7%; }
.carousel-inner .prev        { left: -16.7%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}

.addr {
    display: block;
    padding-left: 0;
    list-style: none;
}

.addr > li {
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
}

.addr > li:first-child {
    margin-top: 0;
}

.addr > li > i {
    left: 0;
    position: absolute;
    top: 3px;
}

footer > .container-fluid {
    background-color: #0281C6;
/*    min-height: 50px;*/
    padding: 15px;
    text-align: center;
}

/*
.modal {
    display: block;  oculto por default 
    position: fixed;  parado no local 
    z-index: 1;  exibir sobre todos 
    padding-top: 100px;  local no box 
    left: 0;
    top: 0;
    width: 100%;  tamanho horizontal original 
    height: 100%;  tamanho vertical original 
    overflow: auto;  habilitar o scrool caso necessário 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content. .caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {tranform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

 100% image Width on Smaller Screens 
@media only screen and (max-width: 700px) {
    .modal-content{
        width: 100%;
    }
}*/